{% block event_date_comparison_widget %}
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(form.firstDate) }}
        </div>
        <div class="col-xs-4">
            {{ form_row(form.operator) }}
        </div>
        <div class="col-xs-4">
            {{ form_row(form.secondDate) }}
        </div>
    </div>
{% endblock %}
