{% block _campaignevent_properties_row %}
<div class="row condition-row">
    <div class="col-xs-4">
        {{ form_row(form.field) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(form.operator) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(form.value) }}
    </div>
</div>

<style>
    .eventdatepicker {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23999" width="16" height="16"><path d="M7 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm7-8H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3V2h-2v4h-6V2h-2v4zm9 18H4V8h16v16zm-5-5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm5 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-10 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/></svg>') !important;
        background-repeat: no-repeat !important;
        background-position: right 10px center !important;
        background-size: 16px !important;
        padding-right: 35px !important;
    }

    /* Style HTML5 date input */
    input[type="date"].eventdatepicker {
        position: relative;
    }

    /* Chrome, Safari, Edge, Opera */
    input[type="date"].eventdatepicker::-webkit-calendar-picker-indicator {
        cursor: pointer;
        border-radius: 4px;
        margin-right: 2px;
        opacity: 0.6;
        filter: invert(0.6);
    }

    input[type="date"].eventdatepicker::-webkit-calendar-picker-indicator:hover {
        opacity: 1;
        filter: invert(0.8);
    }

    /* Firefox */
    input[type="date"].eventdatepicker::-moz-calendar-picker-indicator {
        cursor: pointer;
    }
</style>

<script>
    if (typeof Mautic.updateEventFieldValues === 'undefined') {
        // Store original updateFieldOperatorValue function
        var originalUpdateFieldOperatorValue = Mautic.updateFieldOperatorValue;

        // Override Mautic.updateFieldOperatorValue to handle event fields with proper action
        Mautic.updateFieldOperatorValue = function(field, action, valueOnChange, valueOnChangeArguments) {
            var fieldId = mQuery(field).attr('id');
            var isOperatorField = fieldId.indexOf('_operator') !== -1;
            var fieldType = isOperatorField ? 'operator' : 'field';
            var fieldPrefix = fieldId.slice(0, -1 * fieldType.length);
            var currentFieldType = mQuery('#' + fieldPrefix + 'value').attr('data-toggle');

            // Check if this is an event field (action contains 'plugin:events')
            var isEventField = action && action.indexOf('plugin:events') !== -1;

            // For event fields, use custom handling to preserve the Events bundle action
            if (isEventField) {
                Mautic.activateLabelLoadingIndicator(fieldId);
                var fieldAlias = mQuery('#'+fieldPrefix+'field').val();
                var fieldOperator = mQuery('#'+fieldPrefix+'operator').val();

                Mautic.ajaxActionRequest(action, {'alias': fieldAlias, 'operator': fieldOperator, 'changed': fieldType}, function(response) {
                    if (typeof response.options != 'undefined') {
                        var valueField = mQuery('#'+fieldPrefix+'value');
                        var valueFieldAttrs = {
                            'class': valueField.attr('class'),
                            'id': valueField.attr('id'),
                            'name': valueField.attr('name'),
                            'autocomplete': valueField.attr('autocomplete'),
                            'value': valueField.val(),
                            'data-toggle': currentFieldType,
                            'data-onload-callback': valueField.attr('data-onload-callback')
                        };

                        if (mQuery('#'+fieldPrefix+'value_chosen').length) {
                            valueFieldAttrs['value'] = '';
                            Mautic.destroyChosen(valueField);
                        }

                        if (!mQuery.isEmptyObject(response.options) && response.fieldType !== 'number') {
                            var newValueField = mQuery('<select/>')
                                .attr('class', valueFieldAttrs['class'])
                                .attr('id', valueFieldAttrs['id'])
                                .attr('name', valueFieldAttrs['name'])
                                .attr('autocomplete', valueFieldAttrs['autocomplete'])
                                .attr('data-toggle', valueFieldAttrs['data-toggle'])
                                .attr('data-onload-callback', valueFieldAttrs['data-onload-callback']);

                            var multiple = (fieldOperator === 'in' || fieldOperator === '!in');
                            if (multiple) {
                                newValueField.attr('multiple', 'multiple');
                                var newName = newValueField.attr('name') + '[]';
                                newValueField.attr('name', newName);
                                newValueField.attr('data-placeholder', mauticLang['chosenChooseMore']);
                            }

                            mQuery.each(response.options, function(value, optgroup) {
                                if (typeof optgroup === 'object') {
                                    var optgroupEl = mQuery('<optgroup/>').attr('label', value);
                                    mQuery.each(optgroup, function(optVal, label) {
                                        var option = Mautic.createOption(optVal, label);
                                        if (response.optionsAttr && response.optionsAttr[optVal]) {
                                            mQuery.each(response.optionsAttr[optVal], function(optAttr, optVal) {
                                                option.attr(optAttr, optVal);
                                            });
                                        }
                                        optgroupEl.append(option)
                                    });
                                    newValueField.append(optgroupEl);
                                } else {
                                    var option = Mautic.createOption(value, optgroup);
                                    if (response.optionsAttr && response.optionsAttr[value]) {
                                        mQuery.each(response.optionsAttr[value], function(optAttr, optVal) {
                                            option.attr(optAttr, optVal);
                                        });
                                    }
                                    newValueField.append(option);
                                }
                            });
                            newValueField.val(valueFieldAttrs['value']);
                            valueField.replaceWith(newValueField);
                            Mautic.activateChosenSelect(newValueField);

                            // For date fields, watch for value changes
                            if ('date' === valueFieldAttrs['data-toggle']) {
                                var selectElem = mQuery('#' + valueFieldAttrs['id']);
                                var lastValue = selectElem.val();

                                // Create a mutation observer to watch the select element
                                var observer = new MutationObserver(function(mutations) {
                                    var currentValue = selectElem.val();
                                    if (currentValue !== lastValue) {
                                        lastValue = currentValue;
                                        console.log('VALUE CHANGED - value:', currentValue);
                                        if ('custom' === currentValue) {
                                            mQuery('.condition-custom-date-row').show();
                                        } else {
                                            mQuery('.condition-custom-date-row').hide();
                                        }
                                    }
                                });

                                // Start observing the select element for attribute changes
                                observer.observe(selectElem[0], {
                                    attributes: true,
                                    attributeFilter: ['value'],
                                    subtree: false
                                });

                                // Also watch the Chosen container for display changes
                                var chosenId = valueFieldAttrs['id'] + '_chosen';
                                var chosenElem = mQuery('#' + chosenId);
                                if (chosenElem.length) {
                                    chosenElem.on('click', function() {
                                        setTimeout(function() {
                                            var val = selectElem.val();
                                            console.log('CHOSEN CLICKED - value:', val);
                                            if ('custom' === val) {
                                                mQuery('.condition-custom-date-row').show();
                                            } else {
                                                mQuery('.condition-custom-date-row').hide();
                                            }
                                        }, 100);
                                    });
                                }
                            }
                        } else if (mQuery.isEmptyObject(response.options) || response.fieldType === 'number') {
                            // For date fields or number fields with no options, create a text/number input
                            var inputType = response.fieldType === 'number' ? 'number' : 'text';
                            var newValueField = mQuery('<input/>')
                                .attr('class', valueFieldAttrs['class'])
                                .attr('id', valueFieldAttrs['id'])
                                .attr('name', valueFieldAttrs['name'])
                                .attr('autocomplete', valueFieldAttrs['autocomplete'])
                                .attr('type', inputType)
                                .attr('data-toggle', valueFieldAttrs['data-toggle'])
                                .attr('data-onload-callback', valueFieldAttrs['data-onload-callback'])
                                .val(valueFieldAttrs['value']);

                            // Add datepicker class for date fields
                            if ('date' === response.fieldType) {
                                newValueField.addClass('eventdatepicker');
                                newValueField.attr('placeholder', 'yyyy-mm-dd');
                            }

                            valueField.replaceWith(newValueField);

                            // Initialize datepicker if it's a date field
                            if ('date' === response.fieldType) {
                                setTimeout(function() {
                                    Mautic.initEventDatePicker(mQuery('#' + valueFieldAttrs['id']));
                                }, 100);
                            }
                        }

                        if (response.operators) {
                            var operatorField = mQuery('#'+fieldPrefix+'operator');
                            var currentOperator = operatorField.val();

                            // Destroy Chosen if it exists
                            if (mQuery('#'+fieldPrefix+'operator_chosen').length) {
                                Mautic.destroyChosen(operatorField);
                            }

                            operatorField.html('');
                            mQuery.each(response.operators, function(label, value) {
                                operatorField.append(mQuery('<option/>').attr('value', value).text(label));
                            });
                            operatorField.val(currentOperator);
                            // Ensure operator field has the correct onchange handler for event fields
                            operatorField.attr('onchange', 'Mautic.updateEventFieldValues(this)');

                            // Re-activate Chosen
                            Mautic.activateChosenSelect(operatorField);
                        }

                        if (response.disabled) {
                            mQuery('#'+fieldPrefix+'value').attr('disabled', 'disabled');
                        } else {
                            mQuery('#'+fieldPrefix+'value').removeAttr('disabled');
                        }
                    }

                    if (valueOnChange && typeof valueOnChange == 'function') {
                        mQuery('#'+fieldPrefix+'value').off('change').on('change', function () {
                            if (typeof valueOnChangeArguments != 'object') {
                                valueOnChangeArguments = [];
                            }
                            valueOnChangeArguments.unshift(mQuery('#'+fieldPrefix+'value'));
                            valueOnChange.apply(null, valueOnChangeArguments);
                        });
                    }
                    Mautic.removeLabelLoadingIndicator();
                }, false, false, "POST");
            } else {
                // Use original function for non-event fields
                originalUpdateFieldOperatorValue.apply(this, arguments);
            }
        };

        Mautic.updateEventFieldValues = function (field) {
            mQuery('.condition-custom-date-row').hide();
            Mautic.updateFieldOperatorValue(field, 'plugin:events:updateEventFieldValues', Mautic.updateEventFieldValueOptions, [true]);

            var fieldId = mQuery(field).attr('id');
            var fieldPrefix = fieldId.slice(0, -5);
            setTimeout(function () {
                mQuery('#' + fieldPrefix + 'operator').attr('onchange', 'Mautic.updateEventFieldValues(this)');
            }, 0);
        };

        Mautic.updateEventFieldValueOptions = function (field, updating) {
            var fieldId = mQuery(field).attr('id');
            var fieldPrefix = fieldId.slice(0, -5);
            var operator = mQuery('#' + fieldPrefix + 'operator').val();
            var fieldType = mQuery('#' + fieldPrefix + 'value').attr('data-toggle');

            // For date fields, show custom date row only when 'custom' option is selected
            if ('date' === fieldType) {
                var valueField = mQuery(field);
                var selectedValue = valueField.val();
                console.log('updateEventFieldValueOptions - fieldType:', fieldType, 'selectedValue:', selectedValue);

                // Show custom date inputs only if 'custom' value is selected
                if ('custom' === selectedValue) {
                    console.log('Showing custom date row');
                    mQuery('.condition-custom-date-row').show();
                } else {
                    console.log('Hiding custom date row');
                    mQuery('.condition-custom-date-row').hide();
                }
                return;
            }

            // For non-date fields, hide the custom date row
            mQuery('.condition-custom-date-row').hide();
        };

        // Initialize date picker for date fields
        // Tries datetimepicker first (if available), then HTML5 type="date"
        Mautic.initEventDatePicker = function(field) {
            var $field = mQuery(field);

            if (!$field.length) {
                return;
            }

            // Try using datetimepicker if available (Mautic standard)
            if (typeof $field.datetimepicker === 'function') {
                try {
                    $field.datetimepicker({
                        format: 'Y-m-d',
                        closeOnDateSelect: true,
                        validateOnBlur: false,
                        scrollMonth: false,
                        scrollInput: false,
                        timepicker: false
                    });
                    return;
                } catch(e) {
                    // If datetimepicker fails, continue to HTML5
                }
            }

            // Fallback: Convert to HTML5 date input type
            if ($field.attr('type') === 'text') {
                $field.attr('type', 'date');
                // Set value in correct format if it exists
                var currentVal = $field.val();
                if (currentVal && !currentVal.match(/^\d{4}-\d{2}-\d{2}$/)) {
                    // Try to parse and reformat the value
                    try {
                        var date = new Date(currentVal);
                        if (!isNaN(date.getTime())) {
                            var year = date.getFullYear();
                            var month = String(date.getMonth() + 1).padStart(2, '0');
                            var day = String(date.getDate()).padStart(2, '0');
                            $field.val(year + '-' + month + '-' + day);
                        }
                    } catch(e) {
                        // Leave as is
                    }
                }
            }
        };

        // Initialize all datepickers on page load
        Mautic.initializeEventDatePickers = function() {
            mQuery('.eventdatepicker').each(function() {
                Mautic.initEventDatePicker(this);
            });
        };

        // Initialize custom date row visibility and datepickers on page load
        mQuery(document).ready(function() {
            // Give a small delay to ensure all assets are loaded
            setTimeout(function() {
                Mautic.initializeEventDatePickers();

                // Initialize custom date row visibility for date fields
                mQuery('select[data-toggle="date"]').each(function() {
                    var selectedValue = mQuery(this).val();
                    if ('custom' === selectedValue) {
                        mQuery('.condition-custom-date-row').show();
                    } else {
                        mQuery('.condition-custom-date-row').hide();
                    }

                    // Bind change event to show/hide custom date row
                    mQuery(this).on('change', function() {
                        var value = mQuery(this).val();
                        if ('custom' === value) {
                            mQuery('.condition-custom-date-row').show();
                        } else {
                            mQuery('.condition-custom-date-row').hide();
                        }
                    });
                });
            }, 500);
        });
    }
</script>
{% endblock %}
